<!DOCTYPE html>

<html ng-app="app">
    <head>
        <title>SocialFleet</title>
        
        <!-- vendorInject:css -->
        <!-- endinject -->
        
        <!-- appInject:css -->
        <!-- endinject -->
    </head>
    
    <body ng-controller="LoginCtrl">
        
        <nav class="navbar navbar-default">My test application for Twitter
            
            <button ng-if="isAuthenticated()" ng-click="logout()" class="btn btn-link">Logout</button>
        </nav>
        
        <div class="container">
            <button ng-if="isAuthenticated() == false" ng-click="login()" class="btn btn-default">Login</button>
                        
            <div class="well">
                <div class="form-group">
                    <textarea ng-model="message" class="form-control" placeholder="type your message"></textarea>
                    
                    <button  ng-if="isAuthenticated()" ng-click="tweet()" class="btn btn-primary">Tweet</button>                    
                </div>    
            </div>
        </div>
        
        <!-- vendorInject:js -->
        <!-- endinject -->
        
        <!-- appInject:js -->
        <!-- endinject -->
    </body>
</html>