<!DOCTYPE html>

<html ng-app="app">
    <head>
        <title>SocialFleet</title>
        
        <!-- vendorInject:css -->
        <!-- endinject -->
        
        <!-- appInject:css -->
        <!-- endinject -->
    </head>
    
    <body ng-controller="LoginCtrl">
        
        <button ng-click="login()" class="btn btn-default">Login</button>
        
        <button ng-click="tweet()" class="btn btn-primary">Tweet</button>
        
        <!-- vendorInject:js -->
        <!-- endinject -->
        
        <!-- appInject:js -->
        <!-- endinject -->
    </body>
</html>